<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebBrowserUpdateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://prabash-lap/VewBrowserServicePublish/WebBrowserUpdateService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebBrowserUpdateService"
          contract="svcUpdateService.IWebBrowserUpdateService" name="BasicHttpBinding_IWebBrowserUpdateService" />
    </client>
  </system.serviceModel>
</configuration>